// This scss file is the responsive desktop version of the website
// importation starts htere
@import '../../variables&all';
@import '../../reset';
// @import '../home';
// @import '../Responsive/tablet';
// importation ends here

// if you have any comment or suggestion on improving the overall code. Kind drop em between each section in relation to the section below.
// mixin declaration ends here

// media queries code starts here
@media (min-width: $desktop) {
    .hero {
        @include desksecpad;
    }

    .hammenu {
        display: none !important;
    }
    
    .headerleft {
        display: flex !important;
        @include flexrow;
        flex-direction: row;
    }

    .headerleft nav {
        display: flex;
    }
    
    .textarea {
        @include flexcol;
        width: 70%;
        gap: 20px;
    }

    .top h1 {
        font-size: $largesttxt;
    }

    .top p {
        font-size: $mediumtxt;
    }

    .lowerarea {
        margin: 0;
    }

    .socialproof p {
        font-size: $smallertxt;
    }
    // Header/hero section ends here

    // section 1 starts here
    .sec1 {
        @include flexrow;
        @include desksecpad;
        gap: 60px;
        // margin: 100px 0;
    }

    .sec1left {
        position: relative;
        width: 50%;
        // padding-top: 100px;
        // height: 100vh;
    }

    .sec1img1 {
        @include sec1img;
        // top: 10%;
        bottom: 70%;
        // left: 5%;
        right: 62.5%;
        width: 200px;
        height: 150px;
    }
   
    .sec1img2 {
        @include sec1img;
        // top: 5%;
        bottom: 80%;
        left: 40%;
        width: 350px;
        height: 200px;
    }
    
    .sec1img3 {
        @include sec1img;
        top: 35%;
        right: 0% !important;
        // bottom: 20%;
        left: 10% !important;
        width: 250px;
        height: 200px
    }
    
    .sec1img4 {
        @include sec1img;
        top: 25%;
        // right: 20%;
        // bottom: 0;
        left: 57% !important;
        width: 200px !important;
        height: 300px;
    }

    .sec1ryt {
        @include sectextera;
        width: 45%;
    }

    .head h1 {
        font-size: $largesttxt;
        z-index: 1;
    }

    .pull {
        max-width: 50px;
        max-height: 50px;
        position: absolute;
        bottom: 45%;
        right: 0;
    }

    .sec1ryt p {
        font-size: $mediumtxt;
    }

    .transbtn {
        @include transbtn;
        font-size: $mediumtxt !important;
    }

    .btnicon {
        width: 25px !important;
    }
    // section 1 ends here

    // section 2 starts here
    .sec2 {
        @include desksecpad;
    }

    .sec2left {
        @include sectextera;
        justify-content: flex-start;
        width: 60%;
    }

    .sec2left p {
        font-size: $mediumtxt;
    }

    .sec2ryt {
        @include flexrow;
        justify-content: flex-end !important;
        flex-wrap: wrap;
        gap: 20px;
        width: 70% !important;
        margin-top: -200px; 
        // padding-left: 400px
    }

    .env-aud {
        width: 28%;
        margin-top: 200px;
    }

    .sus-con {
        width: 28%;
        margin-top: 100px;
    }

    .ene-eff {
        width: 28%;
        // margin-top: 200px;
    }

    .reg-com {
        width: 28%;
        margin-top: auto;
    }

    .was-man {
        width: 28%;
        margin-top: -100px;
    }

    .coo-tra {
        width: 28%;
        margin-top: -200px;
    }
    // section 2 ends here

    // section 3 starts here
    .sec3 {
        @include desksecpad
    }

    .textholder {
        width: 45%;
        margin: 50px 0;
        padding: 40px 40px !important;
    }

    .topside h1 {
        font-size: $largerttxt;
    }

    .secondtop p {
        font-size: $mediumtxt;
    }
    // section 3 ends here

    // section 4 starts here
    .sec4 {
        @include desksecpad;
    }

    .sec4topleft h1 {
        font-size: $largesttxt;
    }

    .sec4topleft p {
        font-size: $mediumtxt;
    }

    .alttransbtn {
        // margin-left: auto;
        justify-content: flex-end !important;
    }
    
    .blog2hide {
        @include flexcol;
    }

    .textarea p {
        font-size: $mediumtxt;
    }
    // section 4 ends here

    // section 5 starts here
    .sec5 {
        @include desksecpad
    }

    .sec5botom {
        width: 60%;
    }

    .faqs p {
        font-size: $bigtxt;
    }
    // section 5 ends here

    // section 6 starts here
    .sec6 {
        @include desksecpad
    }

    .sec6 h1 {
        font-size: $largesttxt;
    }

    .sec6 button {
        width: 30%;
    }
    // section 6 ends here

    // footer sectio begins here
    .footertop {
        @include desksecpad;
        @include flexrow;
        flex-direction: row !important;
        align-items: flex-start !important;
        gap: 150px;
    }

    .footertopleft {
        flex-direction: flex-start !important;
        width: 40% !important;
    }

    .footerlogo {
        // align-items: flex-start !important;
        margin-right: auto;
        width: 170px;
        height: 100px;
    }

    .footertopleft p {
        font-size: $mediumtxt;
        text-align: left;
    }

    .linkrow {
        // justify-content: flex-start !important;
        align-items: flex-start !important;
        gap: 30px;
    }

    .linkrow a {
        font-size: $basetxt;
        text-align: left;
    }

    .footerbotom p {
        font-size: $basetxt;
    }

    .footerbotomryt {
        gap: 20px;
    }

    .footericons {
        width: 20px !important;
        height: 20px !important;
    }
}